* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 1rem;
  font-family: sans-serif;
}

.open-modal {
  cursor: pointer;
  margin-top: 15px;
  margin-left: 15px;
  padding: 4px 10px;
}

.modal-wrapper {
  animation: fadeIn 1s;
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
  height: 100%;
  left: 0;
  top: 0;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.modal-content {
  animation: slideIn 1s;
  background-color: #fff;
  border-radius: 5px;
  left: 50%;
  padding: 35px 20px;
  position: relative;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 600px;
}

.close-modal {
  cursor: pointer;
  position: absolute;
  right: 12px;
  top: 8px;
}

@keyframes slideIn {
  from {
    top: 60%;
    opacity: 0;
  }
  to {
    top: 50%;
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
